workflows/weekly-review/weekly-revenue-review/workflow.json
{
  "name": "Weekly Revenue Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1]
            }
          ]
        }
      },
      "id": "e0ffa11c-2234-410a-bfa2-a228fbcedde2",
      "name": "Schedule Trigger (Monday 9AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": "WeeklyMetrics",
        "options": {}
      },
      "id": "89fa3b44-b0e2-411a-ab52-cd8904712bc9",
      "name": "Read Weekly Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [320, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential-placeholder"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": "=You are a Revenue Coach for a small business. Analyze this weekly data and produce a strategic review:\n\nWeekly Business Data:\n{{$json}}\n\nStructure your report as:\n\n## 1. What Worked This Week\n(Channels, deals, and actions that moved revenue forward)\n\n## 2. What Didn't Work\n(Where money was left on the table, which actions had no result)\n\n## 3. Revenue Channels Performance\n(Which channels brought quality leads vs. wasted time)\n\n## 4. Key Metrics Summary\n(Revenue collected, pipeline added, deals closed, leads engaged)\n\n## 5. Next Week's Revenue Sprint\n(3-5 specific, prioritized revenue-generating actions for the coming week)\n\nBe direct and tactical. Focus on revenue outcomes, not vanity metrics.",
        "options": {}
      },
      "id": "8fdfd422-e1d9-482a-a9fa-a9f81a7d6e7b",
      "name": "Generate Weekly Review",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [550, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential-placeholder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=📅 *WEEKLY REVENUE REVIEW*\n\n{{$json.message.content.slice(0, 1400)}}...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "adca84f1-f09c-4eb2-a9fb-baef2c9d1a3c",
      "name": "Send Telegram Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [780, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-placeholder"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (Monday 9AM)": {
      "main": [[{"node": "Read Weekly Metrics", "type": "main", "index": 0}]]
    },
    "Read Weekly Metrics": {
      "main": [[{"node": "Generate Weekly Review", "type": "main", "index": 0}]]
    },
    "Generate Weekly Review": {
      "main": [[{"node": "Send Telegram Digest", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}