workflows/sales-follow-up/lost-deal-analyzer/workflow.json
{
  "name": "Lost Deal Analyzer",
  "nodes": [
    {
      "parameters": {},
      "id": "e0efa11c-2234-410a-bfa2-a228fbcedde2",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": "Deals",
        "filters": {
          "conditions": [
            {
              "keyName": "stage",
              "condition": "eq",
              "keyValue": "lost"
            }
          ]
        },
        "options": {}
      },
      "id": "89fa3b44-b0e2-411a-ab52-cd8904712bc9",
      "name": "Read Lost Deals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [300, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential-placeholder"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": "=Analyze the following closed-lost deals data and produce a clear diagnostic report:\n\nLost Deals:\n{{$json}}\n\nExtract:\n1. Top 3 loss reasons (objections, pricing, timing, competition, offer quality)\n2. Specific offer weaknesses — what did we promise that didn't land?\n3. Pricing analysis — were deals consistently too expensive or too cheap?\n4. Patterns across lead sources — which channels produce lower-quality leads?\n5. Recommended experiments for next sprint — 3 specific changes to test.\n\nFormat the output as a structured Markdown report.",
        "options": {}
      },
      "id": "8fdfd422-e1d9-482a-a9fa-a9f81a7d6e7b",
      "name": "Analyze Lost Deals",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [520, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential-placeholder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=📊 *Lost Deal Analysis Complete*\n\n{{$json.message.content.slice(0, 1200)}}...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "adca84f1-f09c-4eb2-a9fb-baef2c9d1a3c",
      "name": "Telegram Analysis Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-placeholder"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [[{"node": "Read Lost Deals", "type": "main", "index": 0}]]
    },
    "Read Lost Deals": {
      "main": [[{"node": "Analyze Lost Deals", "type": "main", "index": 0}]]
    },
    "Analyze Lost Deals": {
      "main": [[{"node": "Telegram Analysis Summary", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}